@{
    ViewData["Title"] = "Thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Thanh toán</h1>
                <p>Bạn hãy kiểm tra lại thông tin đơn hàng!!</p>
            </div>
           
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label>Họ tên khách hàng</label>
                    <input type="text" name="CustomerName" class="form-control" autocomplete="off"/>
                </div>
            </div>
            <div class="col-md-4">
            </div>

        </div>

        <div class="summary">
            <button class="btn">Thanh Toán</button>
        </div>

    </div>
</div>v>

